/**==== OTHER CSS INCLUDE ====*/
@import url(libs.css);
@import url(variables.css);
/**==== OTHER CSS INCLUDE ====*/

/**==== RESETS START ====*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-primary);
}

section {
    padding: var(--section-padding);
}

input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}


/* scoll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

img {
    max-width: 100%;
}

button {
    background: none;
    outline: none;
}

ul,
ol {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin-bottom: .5em;
    color: var(--clr-neutral-700);
}

p {
    color: var(--fc-neutral-400);
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: normal;
}

:disabled {
    background: gray !important;
}

button,
input {
    outline: none;
    border: none;
}

label {
    display: block;
}

input {
    width: 100%;
}

/* CUSTOM DOTS START*/

.slick-dots li {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li button {

    --_size: 16px;
    display: block;
    background: #D9D9D9;
    height: var(--_size);
    width: var(--_size);
    border-radius: 100%;

    margin: 0 2px;
    padding: 0;

    transition: width 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center;
}

.slick-dots li.slick-active button {
    background: var(--clr-primary);
}

.slick-dots li.slick-active~li button {
    --_size: 14px;
}

.slick-dots li.slick-active~li:last-child button {
    --_size: 12px;
}

/* CUSTOM DOTS END */

/**==== RESETS END ====*/


/**==== GLOBAL CSS START ====*/
/* INPUT CSS START */
.form__wrap {
    --input-height: 57px;
    --input-bd-radius: 8px;
    --input-bd: none;
    --input-bg: rgba(29, 37, 87, 0.03);
    --input-padding: 10px;
    --input-width: 100%;
    --input-display: block;

    --form-grid-template: repeat(2, 1fr);
    --form-grid-gap: 30px;

    --input-wrap-margin: 0 0 30px;

    --text-area-height: 181px;

    --label-mb: 10px;
    --label-display: block;
}

@media screen and (max-width: 767px) {
    .span-two {
        grid-column: span 1;
    }
}

.form__grid {
    display: grid;
    grid-template-columns: var(--form-grid-template);
    column-gap: var(--form-grid-gap);
}

.form__wrap label {
    color: var(--clr-primary);
    font-size: var(--fs-18);
    font-weight: 600;
    line-height: 135%;
    margin: var(--label-mb);
    display: var(--label-display);
}

.form__wrap input,
.form__wrap select,
.form__wrap textarea {
    min-height: var(--input-height);
    border-radius: var(--input-bd-radius);
    border: var(--input-bd);
    background: var(--input-bg);
    padding: var(--input-padding);
    width: var(--input-width);
    display: var(--input-display);
}

.form__wrap textarea {
    height: var(--text-area-height);
}

.input__wrap {
    margin: var(--input-wrap-margin);
}

/* INPUT CSS END */

.hidden {
    display: none;
}

.span-two {
    grid-column: span 2;
}

.error {
    outline: 2px solid red;
}

.border-right {
    border-right: 1px solid var(--fc-accent);
    padding-right: 10px;
}

.border-right+* {
    padding-left: 10px;
}

.no-padding {
    padding: 0 !important;
    padding-block: 0;
    padding-inline: 0;
}


.bg-primary {
    background-color: var(--clr-primary);
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
}

.clr-accent {
    color: var(--fc-accent);
}

.clr-white {
    color: #FFF;
}

.clr-primary {
    color: var(--clr-primary);
}

.fc-neutral-700 {
    color: var(--fc-neutral-700);
}

.fc-neutral-400 {
    color: var(--fc-neutral-400);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-24 {
    font-size: var(--fs-24);
}

.btn-lg {
    width: 100%;
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-60 {
    gap: 60px;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space {
    justify-content: space-between;
}

.util__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .util__panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/**==== GLOBAL CSS END ====*/

/**==== PROJECT UTILITES START ====*/

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.clr-secondary {
    color: var(--clr-secondary);
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: normal;
    transition: all 250ms ease;
}


.btn-primary {
    outline: none;
    border: none;
}

.btn-primary:focus,
.btn-primary {
    outline: none !important;
    color: var(--fc-accent) !important;
    background: var(--clr-primary) !important;
}

.btn-primary:hover {
    outline: 1px solid var(--clr-primary) !important;
    /* color: var(--clr-neutral-700) !important; */
    color: var(--clr-primary) !important;
    background: #cdd2e0 !important;
}

.small__heading {
    color: var(--clr-neutral-700);
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: normal;
}

.loader {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section__label {
    color: var(--clr-primary-300);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.section__heading {
    font-size: var(--fs-45);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.section__text .section__label {
    margin-bottom: 15px;
}

.section__text {
    margin-bottom: 50px;
}



.grey__main {
    padding: 50px 0;
    background: #FAFAFA;
}


/**==== PROJECT UTILITES END ====*/


/**==== HEADER START ====*/
/**==== HEADER START ====*/
header {
    --header-padding: 0;
    --header-bg: #FFF;

    --gap-between-li: 30px;
    --header-li-clr: var(--clr-neutral-700);
    --header-li-hover-state-clr: var(--clr-primary);
    --header-li-hover-state-fw: 700;
}

header nav {
    margin-left: calc(87px - var(--gap-between-li));
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--header-bg);
    padding: var(--header-padding);
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: var(--gap-between-li);
}

.nav__list li a {
    color: var(--header-li-clr);
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav__list li:hover a {
    color: var(--header-li-hover-state-clr);
    font-weight: var(--header-li-hover-state-fw);
    position: relative;
}

.nav__list li a::after {
    content: "";
    background: var(--clr-primary);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -9px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: 200ms;
}

.nav__list li:hover a::after {
    transform: scaleX(1);
}

.burgerButton {
    display: none;
    width: 40px;
}

.burgerButton div {
    margin-bottom: 4px;
    background: var(--clr-primary);
    border-radius: 1px;
    display: block;
    width: 100%;
    height: 6px;
}

.mobileMenu {
    display: none;
    --mobile-menu-bg: var(--clr-primary);
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 30px;
    width: max(50%, 385px);
    background: var(--mobile-menu-bg);

    transform: translateX(-100%);
    transition: transform 400ms ease;
    z-index: 2;
}

.mobileMenu.active {
    transform: translateX(0);
}

.mobileMenuHeader {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.mobileMenuClose i {
    color: var(--fc-accent);
    font-size: 2rem;
}

.mobile__list li a {
    color: var(--fc-accent);
}

.mobile__list li {
    padding: 10px 0 15px;
    list-style: none;
}

.mobile__list li:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid #ddd;
}


.li--has-submenu.active .closeIcon,
.li--has-submenu .openIcon {
    display: none;
}

.li--has-submenu.active .openIcon {
    display: block;
}

@media screen and (max-width: 992px) {

    nav,
    header .button__wrap {
        display: none;
    }

    .mobileMenu,
    .burgerButton {
        display: block;
    }
}

/**==== HEADER END ====*/

/**==== HOME BANNER START ====*/

.homeBanner {
    background: url(../images/home-banner-bg.png) center/cover no-repeat;
}

.bannerWithImage {
    position: relative;
    min-height: 847px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.bannerTextWithSideImg {
    position: relative;
    z-index: 1;
    padding-right: 22px;
}

.homeBannerText h1 {
    color: var(--fc-accent);
    font-size: var(--fs-55);
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.homeBannerText p {
    color: var(--fc-accent);
    font-size: var(--fs-24);
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.bannerSideImg {
    position: absolute;
    top: 0;
    right: 0;
}

/**==== HOME BANNER END ====*/

/**==== CALUCLATE SECTION START ====*/
.calculateSection {
    position: relative;
    bottom: 72px;
    z-index: 4;
}

.calculateMain {
    --inline-padding: 50px;
    border-radius: 10px 10px 0px 0px;
    background: #FFF;
}

.calculateMain .small__heading {
    padding-inline: var(--inline-padding);
    padding-block-start: 18px;
}

.calculateFormWrap {
    padding: 37px var(--inline-padding) 29px;
    border-radius: 0px 0px 10px 10px;
    background: #F8F8FA;
}

.calculateFormWrap .input__wrap {
    max-width: 273px;
    width: 100%;
}

.calculateFormWrap .input__wrap.sm {
    max-width: 193px;
    width: 100%;
}

.calculateFormWrap input {
    min-height: 57px;
    padding: 10px;
    border-radius: 8px;
    background: #E8EDF4;
}

.calculateFormWrap .calculatedAmount input {
    background: var(--clr-primary-300);
    pointer-events: none;
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(64, 127, 217, 0.40);
}

.calculateFormWrap label {
    color: var(--fc-neutral-700);
    font-size: var(--fs-18);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 7px;
}

.calulateLoader {
    visibility: hidden;
}

.calulateLoader.active {
    visibility: visible;
}

/**==== CALUCLATE SECTION END ====*/

/**==== PANEL SECTION START ====*/
.calculateSection+section {
    padding-top: 28px;
}

.panelText p {
    margin-bottom: 15px;
}

/**==== PANEL SECTION END ====*/

/**==== PACKAGE SECTION START ====*/
.package__table {
    max-width: 800px;
    width: 100%;
}

.table__row {
    display: flex;
    align-items: center;
    min-height: 87px;
}

.package__table .table__row:nth-of-type(1) {
    border-radius: 0px 10px 0px 0px;
    background: #243347;
}

.package__table .table__row:nth-of-type(2) {
    background: #6881C4;
}

.table__row>* {
    flex: 1 1 33.3%;
    text-align: center;
}

.table__cell {
    color: var(--fc-accent);
    font-size: var(--fs-30);
    font-weight: 700;
    line-height: normal;
}

.package__tableBody {
    height: 155px;
    padding: 22px 29px 13px 64px;
    background: #EAF1FA;
}

.package__list {
    max-width: 262px;
    width: 100%;
    padding-left: 30px;
}

.package__list li {
    color: #646363;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: normal;
    list-style: none;
    position: relative;
    margin-bottom: 10px;
}

.packageSection .container .package__tableMain:not(:last-child) {
    margin-bottom: 30px;
}

.package__list li::before {
    content: url(../images/check-blyue.png);
    position: absolute;
    left: -40px;
}

/**==== PACKAGE SECTION END ====*/

/**==== SERVICE SECTION START ====*/
.serviceCard {
    text-align: center;
    padding: 60px 49px;
    min-height: 354px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    background: #FFF;
    position: relative;
    cursor: pointer;
}

.serviceCard .img__wrap,
.serviceCard .small__heading {
    margin-bottom: 10px;
}

.serviceCard::after {
    content: "";
    border-radius: 0px 0px 10px 10px;
    border: 2px solid var(--clr-primary);
    background: var(--clr-primary);
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    transform: scaleY(0);
    transition: all 300ms ease;
    transform-origin: bottom;
}

.serviceCard:hover::after {
    transform: scaleY(1);
}

/**==== SERVICE SECTION END ====*/


/**==== CONTACT SECTION START ====*/
.contactMain {
    /* padding: 42px 0; */
    max-height: 635px;
    background: var(--clr-primary-300);
}

.form__heading {
    font-size: var(--fs-30);
    line-height: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.contactSection .form__wrap {
    position: relative;
    top: 42px;
}

.form__wrap {
    padding: 33px 35px;
    border-radius: 10px;
    border: 1px solid rgba(192, 188, 188, 0.25);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(83, 81, 81, 0.25);
}

.form__wrap label {
    color: var(--clr-primary-300);
}

.form__wrap label span {
    color: #DF353B;
}

section:has(.arrowsContainer) {
    position: relative;
}

.arrowsContainer {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
}

.arrowsContainer.inverse button {
    background: var(--fc-accent);
    color: #000;
}
/* .arrowsContainer.inverse button i {
    background: var(--fc-accent);
    color: transparent;
} */

.arrowsContainer button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #FFF;
    background: var(--clr-primary-300);
    border-radius: 100%;
}

.contactSection+section {
    padding-top: calc(65px * 2);
}

.testimonialCard {
    max-width: 535.398px;
    width: 100%;
}

.testimonialCardText {
    margin-bottom: 40px;
    padding: 59px 49px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.testimonialCardText .img__wrap {
    width: 60px;
    height: 60px;
    background: var(--clr-primary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.testimonialCardText i {
    font-size: 35px;
    color: #FFF;
}

.testimonialCardText p {
    color: #646363;
}

.testimonialSection .grey__main {
    padding-bottom: 70px;
}

.testimonialSection .slick-dots {
    bottom: -70px;
}

/**==== CONTACT SECTION END ====*/


/**==== WEATHER SECTION START ====*/
/* 
.custom--container {
    margin: 0;
    max-width: 100%;
    padding: 0;

    --spacing-1: calc(((100% - 750px) / 2));
    --spacing-2: calc(((100% - 970px) / 2));
    --spacing-3: calc(((100% - 1170px) / 2));
}

@media (min-width:768px) {
    .custom--container {
        margin-left: var(--spacing-1);
        max-width: calc(100% - var(--spacing-1));
    }
}

@media (min-width:992px) {
    .custom--container {
        margin-left: var(--spacing-2);
        max-width: calc(100% - var(--spacing-2));
    }
}

@media (min-width:1200px) {
    .custom--container {
        margin-left: var(--spacing-3);
        max-width: calc(100% - var(--spacing-3));
    }
} */

.custom--container {
    max-width: 76%;
    margin-left: auto;
    margin-right: 0;
}

.weatherSectionText {
    max-width: 450px;
    width: 100%;
}

.weatherCards {
    position: relative;
}

.weatherCards::after {
    content: "";
    background: rgba(28, 28, 28, 0.60);
    inset: 0;
    position: absolute;
}

.weatherCardText {
    position: absolute;
    bottom: 52px;
    left: 50px;
    z-index: 1;
}

.weatherCardText .section__heading {
    margin-bottom: 5px;
}

.dateTime {
    border-top: 1px solid var(--fc-accent);
    padding: 8px 0 0;
    margin-bottom: 20px;
    max-width: 365px;
    width: 100%;
}

.dateTime span {
    font-weight: 400;
}

.weatherCardText * {
    color: var(--fc-accent);
}

.temperature span {
    color: var(--fc-accent);
    font-size: var(--fs-35);
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


/**==== WEATHER SECTION END ====*/